<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PendakianGunung"
        tools:targetApi="31">
        <activity
            android:name=".MountainSearchActivity"
            android:exported="false" />
        <activity
            android:name=".TipsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TipsListActivity"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".ToolDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ToolListActivity"
            android:exported="false" />
        <activity
            android:name=".ToolActivity"
            android:exported="false" />
        <activity
            android:name=".MountainDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MountainListActivity"
            android:exported="false" />
        <activity
            android:name=".MountainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>